{% extends "base.twig" %}

{% block content %}
<div class="row">
    <div class=" col-sm-4 col-lg-3 text-center">
        {% if post.thumbnail.src %}
            <img class="img-fluid mb-3" src="{{ post.thumbnail.src('large') }}" alt="{{ post.title|e('html') }}" />
            {% else %}
            <img class="img-fluid mb-3" src="{{ Image( theme_options.defaul_user_image ).src('large') }}" alt="{{ post.title|e('html') }}" />
            {% endif %}


    </div>  
    <div class="col-sm-8 col-lg-9">
        <h2 class="pb-4 text-secondary">
            {{ post.title|e('html')  }}
         </h2>
            {% if user.can('read') %}
                <hr>
                <cite class="mt-4">
                    {{ post.content }}
                </cite>
                <hr>
                {% if post.meta('favorite_places') %}
                <h5>Favorite places:</h5>
                    {% for place in post.meta('favorite_places') %}
                        <span class="badge bg-primary"> {{ place }}</span>
                    {% endfor %}
                {% endif %}
                {% else %}
                    <h6>'You must be logged to see this!'</h6>
        {% endif %}
    </div>
</div>
<div class="row d-flex justify-content-center flex-wrap">
    <h5 class="text-center">See also:</h5>
    <hr>
    {% for person in people %}
        {% if person.id != post.id %}
        <div class="col-md-2 col-6 text-center mb-4">
            {% if person.thumbnail.src %}
            <img class="img-fluid mb-3" src="{{ person.thumbnail.src }}" alt="{{ post.title|e('html') }}" />
            {% else %}
            <img class="img-fluid mb-3" src="{{ Image( theme_options.defaul_user_image ).src('large') }}" alt="{{ post.title|e('html') }}" />
            {% endif %}
            <h6 class="text-center">
                <a href="{{ person.link }}">{{ person.title|e('html')  }}</a>
            </h6>
        </div>
        {% endif %}
    {% endfor %}
</div>

<div class="container">
    <div class="row">
    <table class="table table-hover">
     

        {% from "parts/macros.twig" import table_header, table_row %}
        {% set table = post.meta('table_col') %}
        {% set options = post.meta('table_options') %}

        {# Talbe header #}
        {{ table_header(table, options ) }}

        {# Table row #}
        <tbody>
            {% for article in post.meta('articles') %}
              {{ table_row(table, article, category_labels ) }}
            {% endfor %}

        {# Table footer #}
        </tbody>
        </table>

    </div>
</div>


{% endblock %}