{% extends "base.twig" %}

{% block subheader %}
    {{ block('subheader', 'pages/news.twig') }}
    {% if post.breaking %}
        {% from "parts/macros.twig" import header %}
        {{ header( theme.link ~ '/images/breaking_news.jpg', 'Breaking News!') }}
    {% endif %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <div>
            <h1 class="my-3">
                {{ post.title|e('html') }}
            </h1>
            <span class="badge bg-light mb-3">
                by, {{ post.author.display_name }}, {{ post.date }}
            </span>

            {% set word_count = post.content|split(' ')|length %}
            {% set reading_time = (word_count / art)|round(0,'ceil') %}
            <span class="badge bg-light mb-3">
                Reading time: {{ reading_time }}minute{{ reading_time > 1 ? 's' }}
            </span>

        </div>

        <div>
            <img src="{{ theme.link }}/images/news/{{ post.slug }}.jpg" alt="{{ post.title|e('html')  }}"
                class="ms-sm-3 float-sm-end img-fluid" />
            <div class="">
                {{ post.content }}
            </div>
        </div>

    </div>
</div>

{% endblock %}