{% extends "base.twig" %}

{% block content %}

    {% for post in posts %}


    <div class="row py-3 border-bottom">
        <div class="col-sm-2">
            <img src="{{ theme.link }}/images/news/{{ post.slug }}.jpg" alt="{{ post.title }}" width="100%" />
        </div>
        <div class="col-sm-10">
            <h5  class="my-3">
                <a href="{{ post.link }}">{{ post.title }}</a>
            </h5>

            {{ include ("parts/terms.twig", { list: post.terms('category'), label: 'Category' }) }}
            {{ include ("parts/terms.twig", { list: post.terms('post_tag'), label: 'Tags' }) }}
            {{ include ("parts/terms.twig", { list: post.terms('sponsor'), label: 'Sponsor' }) }}

            <div class="my-3">
                {{ post.content|excerpt(50) }}
                <a href="{{ post.link }}" class="badge bg-secondary">Read more</a>
            </div>
        </div>
    </div>

    {% endfor %}

    <div class="row">
        <div class="bs-component">
            {% include "parts/pagination.twig" %}
        </div>
    </div>

{% endblock %}