{% extends "base.twig" %}

{% block subheader %}
    {% from "parts/macros.twig" import header %}
    {{ header( Image(post.image).src('full'), post.message ) }}
{% endblock %}

{% block content %}

<div class="row">
    {% for person in people %}
        <div class=" col-sm-4 col-lg-3 text-center mt-3">
            {% if person.thumbnail.src %}
            <img class="img-fluid mb-3" src="{{ person.thumbnail.src }}" alt="{{ post.title|e('html') }}" />
            {% else %}
            <img class="img-fluid mb-3" src="{{ Image( theme_options.defaul_user_image ).src('large') }}" alt="{{ post.title|e('html') }}" />
            {% endif %}
            <h6 class="pt-2 text-secondary">
                <a href="{{ person.link }}">{{ person.name }}</a>
            </h6>
            <hr class="w-50 mx-auto">
            <div class="text-start">
                {{ person.content|excerpt(8) }}
            </div>
        </div>  
    {% endfor %}
</div>

{% endblock %}