<!doctype html>
<html {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ theme.link }}/style.css">
    <link rel="stylesheet" href="{{ theme.link }}/css/bootstrap.min.css" crossorigin="anonymous">
    {{ function('wp_head') }}
  </head>
  <body>

    {% include "parts/nav.twig" %}

    {% block subheader %}{% endblock %}

    <div class="container my-3">
        {% block content %}
            Empty!
        {% endblock %}
    </div>
 
    <script src="{{ theme.link }}/js/jquery.min.js" crossorigin="anonymous"></script>
    <script src="{{ theme.link }}/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    {{ function('wp_footer') }}
  </body>
</html>