<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{  site.link }}">{{ site.name }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">

                    {% for item in menu.get_items %}

                    {% if item.children %}
                    <li class="nav-item dropdown  w-100">
                        <a class="nav-link dropdown-toggle  {{ item.current_item_ancestor ? 'active' }}"
                            data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                            aria-expanded="false">{{ item.title }}</a>
                        <div class="dropdown-menu mb-4">
                            {% for item in item.children %}
                            <a class="dropdown-item {{ item.current ? 'active' }}"
                                href="{{ item.link }}">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {{ item.current ? 'active' }}" href="{{ item.link }}">{{ item.title }}</a>
                    </li>
                    {% endif %}

                    {% endfor %}

                </ul>
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>